*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

ul{
    list-style: none;
}

/* utilities */
.flex{
    display: flex;
}



/* side bar */
#side-bar{
    height: 90vh;
    width: 15%;
    position: fixed;
    left: 0;
    background-color: aqua;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.padd-bot{
    padding-bottom: 20px;
}
    /* logo */
#logo,
#s-logo{
    width: 80%;
}

#s-logo{
    display: none;
}
    /* shortcuts */
li span{
    vertical-align: middle;
}

#shortcut img{
    padding-right: 5px;
    height: 25px;
    vertical-align: middle;
}
    /* playlist */
#playlist-bar h5{
    padding-bottom: 10px;
}

#playlist-bar li{
    padding: 7px 0;
}

.fa-square-plus{
    font-size: 40px;
    padding-right: 5px;
    vertical-align: middle;
}

/* track bar */
#track-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: black;
}



/* main content */
main{
    width: 85%;
    overflow-y: scroll;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    right: 0;
}

#upgrade{
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 5vh;
}